@font-face {
  font-family: "urw_regular";
  src: url("../../../assets/fonts/urw/urw_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "janna_regular";
  src: url("../../../assets/fonts/janna/janna_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "janna_bold";
  src: url("../../../assets/fonts/janna/janna_bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
a {
  text-decoration: none; }

ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

p, h2, h1 {
  margin: 0px; }

body, html {
  padding: 0;
  margin: 0;
  background: #F5F5F5; }

* {
  box-sizing: border-box; }

body {
  padding: 20px 50px 0 50px; }
  body.disabled *:not(.unblur) {
    filter: blur(1px);
    -webkit-filter: blur(1px); }
  body.disabled .unblur *, body.disabled .widget, body.disabled .widget * {
    filter: blur(0px);
    -webkit-filter: blur(0px); }
  body.disabled::after {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 900;
    opacity: 0.4; }
  body .panel-container {
    font-family: "urw_regular"; }
    body .panel-container .top-wrapper {
      display: flex;
      margin-bottom: 25px; }
      body .panel-container .top-wrapper .user {
        width: 100%;
        display: flex;
        align-items: center; }
        body .panel-container .top-wrapper .user .avatar {
          width: 35px;
          height: 35px;
          background: #CCCCCC;
          vertical-align: middle;
          border-radius: 50%;
          margin-right: 10px; }
        body .panel-container .top-wrapper .user .name {
          margin-right: 10px; }
          body .panel-container .top-wrapper .user .name span, body .panel-container .top-wrapper .user .name small {
            display: block; }
        body .panel-container .top-wrapper .user .logout {
          background: #FC6B6B;
          color: #FFF;
          display: inline-block;
          line-height: 50px;
          padding: 0px 20px;
          border-radius: 10px;
          font-size: 14px; }
          body .panel-container .top-wrapper .user .logout img {
            vertical-align: middle;
            margin: 0 5px; }
      body .panel-container .top-wrapper .logo {
        flex-shrink: 0; }
    body .panel-container .window-container {
      height: calc(100vh - 200px);
      background: #FFF;
      border-radius: 20px;
      box-shadow: -10px 10px 50px 0px rgba(0, 0, 0, 0.03); }
      body .panel-container .window-container .top-bar {
        background: #f9f9f9;
        line-height: 70px;
        height: 70px;
        border-radius: 20px 20px 0 0;
        width: 100%;
        border-bottom: 1px #f1f1f1 solid;
        padding: 0;
        display: flex; }
        body .panel-container .window-container .top-bar .general-options {
          flex-shrink: 0;
          border-right: 1px #F1F1F1 solid;
          margin-right: 20px; }
          body .panel-container .window-container .top-bar .general-options a {
            width: 300px;
            box-sizing: border-box;
            display: inline-block;
            color: #333;
            padding: 0 20px;
            border-radius: 20px 0 0 0; }
            body .panel-container .window-container .top-bar .general-options a:hover {
              background: #f9f9f9; }
            body .panel-container .window-container .top-bar .general-options a svg {
              vertical-align: middle;
              margin-right: 10px; }
        body .panel-container .window-container .top-bar ul {
          width: 100%; }
          body .panel-container .window-container .top-bar ul li {
            display: inline-block; }
            body .panel-container .window-container .top-bar ul li a {
              color: #333333;
              display: block;
              line-height: 45px;
              padding: 0 10px;
              border-radius: 10px;
              transition: background 0.3s; }
              body .panel-container .window-container .top-bar ul li a:hover {
                background: #F1F1F1; }
              body .panel-container .window-container .top-bar ul li a svg {
                vertical-align: middle;
                margin-left: 0;
                margin-right: 10px; }
              body .panel-container .window-container .top-bar ul li a.active {
                background: #1C9DFF;
                color: #FFF; }
                body .panel-container .window-container .top-bar ul li a.active svg path {
                  fill: #FFF; }
      body .panel-container .window-container .content-wrapper {
        display: flex;
        height: calc(100% - 70px);
        border-radius: 0 0 20px 20px; }
        body .panel-container .window-container .content-wrapper .side-menu {
          width: 300px;
          flex-shrink: 0;
          background: #F9F9F9;
          border-radius: 0 0 20px 0;
          border-right: 1px #f1f1f1 solid; }
          body .panel-container .window-container .content-wrapper .side-menu ul li {
            display: block;
            border-bottom: 1px #f1f1f1 solid; }
            body .panel-container .window-container .content-wrapper .side-menu ul li:last-child {
              border-bottom: 0; }
            body .panel-container .window-container .content-wrapper .side-menu ul li a {
              display: block;
              line-height: 50px;
              padding: 0 20px;
              color: #555;
              transition: background 0.3s; }
              body .panel-container .window-container .content-wrapper .side-menu ul li a:hover {
                background: #FFF; }
        body .panel-container .window-container .content-wrapper .content {
          width: 100%;
          height: 100%;
          overflow: auto;
          border-radius: 0 0 0 20px;
          padding: 20px;
          position: relative; }
          body .panel-container .window-container .content-wrapper .content.loading {
            overflow: hidden !important; }
            body .panel-container .window-container .content-wrapper .content.loading::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: #FFF;
              opacity: 0.9; }
            body .panel-container .window-container .content-wrapper .content.loading svg.loader {
              height: 80px;
              position: absolute;
              z-index: 2;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
              body .panel-container .window-container .content-wrapper .content.loading svg.loader path {
                fill: #3A444B; }
                body .panel-container .window-container .content-wrapper .content.loading svg.loader path.big {
                  animation: spin linear 3s infinite;
                  transform-origin: 10.8px 14px; }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }
          body .panel-container .window-container .content-wrapper .content h1 {
            color: #555555;
            margin-bottom: 20px; }
          body .panel-container .window-container .content-wrapper .content .buttons a {
            display: inline-block;
            line-height: 50px;
            border-radius: 20px;
            padding: 0px 20px;
            background: #f9f9f9;
            color: #555;
            font-size: 13px;
            font-weight: 700;
            margin-right: 10px; }
            body .panel-container .window-container .content-wrapper .content .buttons a svg, body .panel-container .window-container .content-wrapper .content .buttons a img {
              vertical-align: middle;
              margin-right: 10px; }
            body .panel-container .window-container .content-wrapper .content .buttons a.outline {
              border: 1px #1C9DFF solid;
              color: #1C9DFF;
              background: #FFF; }
            body .panel-container .window-container .content-wrapper .content .buttons a.primary {
              background: #1C9DFF;
              color: #FFF; }
              body .panel-container .window-container .content-wrapper .content .buttons a.primary svg path {
                fill: #FFF; }
          body .panel-container .window-container .content-wrapper .content .stat-flex {
            display: flex;
            flex-wrap: wrap;
            padding: 20px 0; }
            body .panel-container .window-container .content-wrapper .content .stat-flex .item {
              width: 200px;
              margin-right: 20px; }
              body .panel-container .window-container .content-wrapper .content .stat-flex .item .title {
                width: 200px;
                height: 200px;
                border-radius: 20px 20px 0 0;
                background: #1C9DFF;
                text-align: center;
                color: #FFF;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                font-weight: 700;
                position: relative; }
                body .panel-container .window-container .content-wrapper .content .stat-flex .item .title a {
                  color: #FFF; }
                body .panel-container .window-container .content-wrapper .content .stat-flex .item .title .add {
                  position: absolute;
                  display: block;
                  width: 30px;
                  border-radius: 10px;
                  text-align: center;
                  line-height: 30px;
                  border: 1px #FFF solid;
                  top: 10px;
                  right: 10px; }
                  body .panel-container .window-container .content-wrapper .content .stat-flex .item .title .add img {
                    vertical-align: 2px;
                    height: 15px;
                    width: 15px; }
                body .panel-container .window-container .content-wrapper .content .stat-flex .item .title svg, body .panel-container .window-container .content-wrapper .content .stat-flex .item .title img {
                  display: block;
                  margin: 0 auto;
                  height: 70px;
                  width: 70px;
                  margin-bottom: 10px; }
                body .panel-container .window-container .content-wrapper .content .stat-flex .item .title svg path {
                  fill: #FFF; }
              body .panel-container .window-container .content-wrapper .content .stat-flex .item .detail {
                background: #f9f9f9;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                color: #555555;
                padding: 20px;
                box-sizing: border-box;
                width: 200px;
                height: 200px;
                border-bottom: 1px #f1f1f1 solid; }
                body .panel-container .window-container .content-wrapper .content .stat-flex .item .detail h3 {
                  font-size: 30px;
                  margin: 0; }
                body .panel-container .window-container .content-wrapper .content .stat-flex .item .detail span {
                  font-weight: 300; }
                body .panel-container .window-container .content-wrapper .content .stat-flex .item .detail:last-child {
                  border: 0;
                  border-radius: 0 0 20px 20px; }
            body .panel-container .window-container .content-wrapper .content .stat-flex.horizontal {
              flex-direction: column; }
              body .panel-container .window-container .content-wrapper .content .stat-flex.horizontal .item {
                width: auto;
                height: 200px;
                display: flex;
                margin: 0;
                margin-bottom: 20px; }
                body .panel-container .window-container .content-wrapper .content .stat-flex.horizontal .item .title {
                  flex-shrink: 0;
                  border-radius: 20px 0 0 20px; }
                body .panel-container .window-container .content-wrapper .content .stat-flex.horizontal .item .detail {
                  border: 0;
                  border-right: 1px #f1f1f1 solid; }
                  body .panel-container .window-container .content-wrapper .content .stat-flex.horizontal .item .detail:last-child {
                    border: 0;
                    border-radius: 0 20px 20px 0; }
    body .panel-container .footer-container {
      display: flex;
      font-size: 15px;
      line-height: 100px;
      color: #555;
      padding: 0 20px; }
      body .panel-container .footer-container .copyrights {
        width: 100%; }
        body .panel-container .footer-container .copyrights small {
          color: #1C9DFF; }
      body .panel-container .footer-container .title {
        flex-shrink: 0; }
    body .panel-container.rtl .top-wrapper .user .avatar, body .panel-container.rtl .top-wrapper .user .name {
      margin-right: 0;
      margin-left: 10px; }
    body .panel-container.rtl .window-container .top-bar .general-options {
      border-right: 0;
      border-left: 1px #F1F1F1 solid;
      margin-left: 20px;
      margin-right: 0; }
      body .panel-container.rtl .window-container .top-bar .general-options a {
        border-radius: 0 20px 0 0; }
        body .panel-container.rtl .window-container .top-bar .general-options a svg {
          margin-right: 0;
          margin-left: 10px; }
    body .panel-container.rtl .window-container .top-bar ul li a svg {
      margin-left: 10px;
      margin-right: 0; }
    body .panel-container.rtl .window-container .content-wrapper .side-menu {
      border-right: 0;
      border-left: 1px #f1f1f1 solid; }
    body .panel-container.rtl .window-container .content-wrapper .content .buttons a {
      margin-right: 0;
      margin-left: 10px; }
      body .panel-container.rtl .window-container .content-wrapper .content .buttons a svg, body .panel-container.rtl .window-container .content-wrapper .content .buttons a img {
        margin-right: 0;
        margin-left: 10px; }
    body .panel-container.rtl .window-container .content-wrapper .content .stat-flex .item {
      margin-right: 0;
      margin-left: 20px; }
    body .panel-container.rtl .window-container .content-wrapper .content .stat-flex.horizontal .item {
      margin: 0;
      margin-bottom: 20px; }
      body .panel-container.rtl .window-container .content-wrapper .content .stat-flex.horizontal .item .title {
        border-radius: 0 20px 20px 0; }
      body .panel-container.rtl .window-container .content-wrapper .content .stat-flex.horizontal .item .detail {
        border-left: 1px #f1f1f1 solid; }
        body .panel-container.rtl .window-container .content-wrapper .content .stat-flex.horizontal .item .detail:last-child {
          border: 0;
          border-radius: 20px 0 0 20px; }

/*# sourceMappingURL=main.css.map */
